/* General formatting styles start */
img:first-of-type {
    top: 0px;
    left: 0px;
    height: 200px;
}
#welcometext {
    column-count: 2;
}
#headername {
    color: red;
    font-size: 200px;
    text-transform: uppercase;
    text-shadow: 4px 4px black;
}
.searchbox {
    position: absolute;
    top: 10px;
    right: 10px;
}
body {
    background-color: #D7DBDD;
    margin: 0;
    
}
fieldset {
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}
footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    background-color: #283747;
    color: red;
}
.mainlink {
    color: yellow;
}
.smalltext {
    font-size: 10px;
}
/* General formatting styles end */
/* Navigation bar styles start */
      
nav {
      height: 45px;
      width: 100%;
      margin-bottom: 5px;
      margin-top: 20px;
      padding-left: 5px;
}
nav ul {
      list-style: none;
      padding: 0px;
}
nav ul li {
      display: block;
}
nav ul li > a {
      text-decoration:none;
}
nav ul li > a:hover {
      background-color: #ff0000;
      text-decoration:underline;
      color: #000000;
}
.navbar-background, .backgroundgradient {
      background-color: #000000;
}

.navlink {
      height: 33px;
      margin-right: 10px;
      font-size: 18px;
      float: left;
      padding-left:5px;
      padding-right:5px;
      padding-top: 12px;
      color: white;
      text-decoration: none;
}
.navlink.active {
    color: red;
    background-color: #424949;
}
/* Navigation bar styles end */
