/* General formatting styles start */
img:first-of-type {
    top: 0px;
    left: 0px;
    height: 200px;
}
#headername {
    color: red;
    font-size: 200px;
    text-transform: uppercase;
    text-shadow: 4px 4px black;
}
.searchbox {
    position: absolute;
    top: 10px;
    right: 10px;
}
body {
    background-color: #D7DBDD;
    margin: 20px;
    
}
fieldset {
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}
footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    background-color: #283747;
    color: red;
}
.mainlink {
    color: yellow;
}
.smalltext {
    font-size: 10px;
}
/* General formatting styles end */
/* formatting for jquery functions start */
.Highlight {
    background-color: #FF4D4D;
}
.shadow {
    background-color: #BDC3C7;
}
.border {
    border-style: solid;
    border-width: 5px;
    border-color: red;
}
.invisible {
    visibility: hidden;
}
/* formatting for jquery functions end */
/* formatting for loading function start */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #000000;
  border-radius: 50%;
  border-top: 16px solid #ff0000;
  border-bottom: 16px solid #ff0000;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* formatting for loading function end */
/* formatting for navbar start */
#gif {
    height: 35px;
    border: 0px;
    margin: 0px;
}
