body {
  background-color: #0064FF;
}
h1 h2 h3 h4 h5 h6 {
  color: #545454;
}
#logo {
  width: 50px;
  height: 50px;
  margin: 0px;
  border: 0px;
  padding: 0px;
  position: relative;
  top: -15px;
}
.thumbnail {
  background-color: #7FE8FF;
  height: 425px;
}
.thumbnail > img {
  height: 160px;
}
